name: Create release

on:
  push:
    tags:
    - '*'
  workflow_dispatch:  

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16

    - name: Build
      run: |
        mkdir -p build
        CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -a -ldflags '-w -extldflags "-static"' -o build/orchent-amd64-linux orchent.go
        CGO_ENABLED=0  GOOS=darwin GOARCH=amd64 go build -a -ldflags '-w -extldflags "-static"' -o build/orchent-amd64-darwin orchent.go
        
      
    - name: Release
      uses: softprops/action-gh-release@v1
        #if: startsWith(github.ref, 'refs/tags/')
      with:
        body_path: CHANGELOG.md
        draft: true
        files: |
          build/orchent-amd64-linux
          build/orchent-amd64-darwin
