name: Create release

on:
  push:
    tags:
    - '*'

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16

    - name: Build
      run: CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -a -ldflags '-w -extldflags "-static"' -o orchent orchent.go
      
    - name: Release
      uses: softprops/action-gh-release@v1
        #if: startsWith(github.ref, 'refs/tags/')
      with:
        draft: true
        files: |
          orchent
