name: Create release

on:
  push:
    tags:
    - '*'
  workflow_dispatch:  

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16

    - name: Build
      run: |
        mkdir -p build
        CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -a -ldflags '-w -extldflags "-static"' -o build/orchent-amd64-linux orchent.go
        CGO_ENABLED=0  GOOS=darwin GOARCH=amd64 go build -a -ldflags '-w -extldflags "-static"' -o build/orchent-amd64-darwin orchent.go
        
    - name: Prepare packages
      run: |
        mkdir -p .debpkg/usr/bin
        cp build/orchent-amd64-linux .debpkg/usr/bin/orchent
        chmod +x .debpkg/usr/bin/orchent
        mkdir -p .rpmpkg/usr/bin
        cp build/orchent-amd64-linux -p .rpmpkg/usr/bin/orchent       

    - name:
      run: |
        rpm_version="${github_ref/-/.}"
        echo $rpm_version
        #echo "::set-env name=ref::$ref"
        echo "rpm_version=$rpm_version" >> $GITHUB_ENV
      env:
        github_ref: ${{ github.ref }}

    - name: Create deb package
      uses: jiro4989/build-deb-action@v2
      with:
        package: orchent
        package_root: .debpkg
        maintainer: Marica Antonacci <marica.antonacci@ba.infn.it>
        version: ${{ github.ref }} 
        arch: 'amd64'
        desc: 'orchent cli'

    - name: Create rpm package
      uses: jiro4989/build-rpm-action@v2
      with:
        summary: 'orchent cli'
        package: orchent
        package_root: .rpmpkg
        maintainer: Marica Antonacci <marica.antonacci@ba.infn.it>
        version: $rpm_version 
        arch: 'x86_64'
        desc: 'orchent cli'

    - name: debug
      run: |
         ls -latr
      
    - name: Release
      uses: softprops/action-gh-release@v1
        #if: startsWith(github.ref, 'refs/tags/')
      with:
        body_path: CHANGELOG.md
        draft: true
        files: |
          orchent_${{ github.ref }}_amd64.deb
          build/orchent-amd64-darwin
